# account files
accounts.txt
blacklist.txt

# env file
.env

# go-steam
go-steam

# schema files cache
static/schema_*

# build output
cs2-inspect-service-go

# session files
sessions/*.json

# logs
logs/*.log

# inspect-service.log
inspect-service.log